<!-- <mat-toolbar class="m-0">
    <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
        <span class="title dialog-title">Change Password</span>
        <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
            <mat-icon>close</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar> -->

<div mat-dialog-content>
    <form [formGroup]="changePassForm" (ngSubmit)="onChangePass()">
        <mat-form-field appearance="outline">
            <mat-label style="color:var(--primary-color)">Old Password</mat-label>
            <input type="password" formControlName='oldPass'  matInput>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label style="color:var(--primary-color)">New Password</mat-label>
            <input #password type="password" formControlName="newPass"  matInput>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label style="color:var(--primary-color)">Confirm Password</mat-label>
            <input type="password" formControlName="confirmPass" [pattern]="password.value"   matInput>
            <mat-error > {{changePassForm.controls['confirmPass'].errors}} </mat-error>
        </mat-form-field>
    </form>
</div>

<div mat-dialog-actions class="m-0 p-16 " fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">

    <button mat-flat-button color="primary" [mat-dialog-close]="[false]">Cancel</button>
    <button mat-flat-button class="accent" [mat-dialog-close]="[true,changePassForm.value]"
        [disabled]="!changePassForm.valid">Submit</button>
</div>
