@import '@fuse/scss/fuse';

fuse-navigation {
    display: flex;
    flex: 1 0 auto;
    // background: #000!important;
    > .nav {
        margin: 0;
        padding: 0;
        width: 100%;
        margin-top: 30px;
    }
}
