.form-field{
    width: 30%;
}
.flex-wrap{
    flex-wrap: wrap;
}


.reset-pass-heading{
    color: #1E1E1E;
    font-size: 22px;
    font-weight: bold;
    margin: 45px 0 45px 20px;
    // margin-left: 20px;
}

