th.mat-header-cell{
    background: #EFEFEF!important;
}
// .cdk-column-postDate .mat-column-postDate{
//     width: 300px!important;
// }
.prmry-btn,
.scnd-btn{
    border-radius: 50%;
    padding-bottom: 10px;
}

.prmry-btn mat-icon,
.scnd-btn mat-icon{
    
    font-size: 15px !important;
}

// .mat-header-cell.cdk-column-img.mat-column-img{
//     width: 75px!important;
// }
// .cdk-column-qty.mat-column-qty,
// .cdk-column-img.mat-column-img{
//     width: 60px!important;
// }