<div id="reset-password" fxLayout="column">

    <div id="reset-password-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="reset-password-form"  [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

            <div class="logo">
                <img src="assets/images/logos/logo_admin.svg">
            </div>

            <div class="title"  *ngIf="this.isPasswordReset ==false;">RESET YOUR PASSWORD</div>
            <form action="" name="resetPasswordForm" 
            [formGroup]="resetPasswordForm"
            (ngSubmit)="submit()"
            *ngIf="this.isPasswordReset ==false; else elseBlock">
                <mat-form-field appearance="outline">
                    <mat-label>New Password</mat-label>
                    <input matInput formControlName="newPassword" type="password" (input)="validatePassword()">
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <!-- <mat-error *ngIf="resetPasswordForm.get('newPassword').hasError('required')">
                        Password is required
                    </mat-error> -->
                   
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput type="password" formControlName="confirmPassword" type="password"
                        (input)="validatePassword()">
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <!-- <mat-error *ngIf="resetPasswordForm.get('confirmPass').hasError('required')">
                        Confirm Password is required
                    </mat-error> -->
                    <mat-error *ngIf="!pasStatus" class="err" style="margin-bottom: 10px;">New Password And Confirm Password
                        Must
                        Be Same
                    </mat-error>
                </mat-form-field>
                <div style="text-align: center;">
                    <button mat-flat-button class="reset-button " color="accent" aria-label="RESET MY PASSWORD">
                        RESET MY PASSWORD
                    </button>
                </div>


            </form>
            <ng-template #elseBlock>
                <div>
                    <img src="assets/gifs/check.gif" alt="">
                </div>
                <h3>Password Reset Successfully !</h3>
            </ng-template>
            <!-- <form name="resetPasswordForm" [formGroup]="resetPasswordForm" novalidate>

                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email">
                    <mat-icon matSuffix class="secondary-text">mail</mat-icon>
                    <mat-error *ngIf="resetPasswordForm.get('email').hasError('required')">
                        Email is required
                    </mat-error>
                    <mat-error *ngIf="resetPasswordForm.get('email').hasError('email')">
                        Please enter a valid email address
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="password">
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-error>
                        Password is required
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Password (Confirm)</mat-label>
                    <input matInput type="password" formControlName="passwordConfirm">
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-error *ngIf="resetPasswordForm.get('passwordConfirm').hasError('required')">
                        Password confirmation is required
                    </mat-error>
                    <mat-error *ngIf="!resetPasswordForm.get('passwordConfirm').hasError('required') &&
                                       resetPasswordForm.get('passwordConfirm').hasError('passwordsNotMatching')">
                        Passwords must match
                    </mat-error>
                </mat-form-field>

                <button mat-flat-button class="submit-button" color="accent"
                        aria-label="RESET MY PASSWORD" [disabled]="resetPasswordForm.invalid">
                    RESET MY PASSWORD
                </button>
            </form> -->

            <!-- <div class="login" fxLayout="row" fxLayoutAlign="center center">
                <a class="link" [routerLink]="'/pages/auth/login'">Go back to login</a>
            </div> -->

        </div>

    </div>

</div>