<div id="products" class="page-layout carded fullwidth inner-scroll">
    <div class="after-login-pages">
        <mat-card>
            <div class="first-row">
                <div class="table-title">
                    Shopping Orders
                </div>
                <div class="d-flex">
                    <div class="search-box" [ngClass]="{'search-box-with-data':search.value!=''}">
                        <input #search placeholder="Search" [(ngModel)]="searchText" (keyup.enter)="filterData(search)">
                        <span class="search-clear" (click)="clearSearch()">
                            <mat-icon>close</mat-icon>
                        </span>
                        <span class="search-icon" (click)="filterData(search)">
                            <mat-icon>search</mat-icon>
                        </span>
                    </div>

                   
                        <div class="status-drp histroy_drop" *ngIf="this.tabIndex ==1">
                            <mat-select placeholder="All" (selectionChange)="orderHistoryFilter($event)">

                                <mat-option [value]="item.key"
                                    *ngFor="let item of Enums.ORDER_HISTORY_STATUS | keyvalue">
                                    {{item.value}}
                                </mat-option>
                            </mat-select>
                        </div>

                    <div class="custom-drop">
                        <div class="status-drp ">
                            <mat-icon>date_range</mat-icon>

                            <mat-select placeholder="All" (selectionChange)="TimePeriodFilter($event)">

                                <mat-option [value]="item.key" *ngFor="let item of Enums.TIME_FILTER | keyvalue">
                                    {{item.value}}
                                </mat-option>
                            </mat-select>
                        </div>
                    </div>
                </div>
            </div>
            <mat-divider inset="true"></mat-divider>
            <div style="padding-top:20px ;"></div>
            <mat-tab-group (focusChange)="tabChanged($event)" [selectedIndex]="0" animationDuration="1000ms">
                <mat-tab label="Pending Orders">

                    <div class="project-table">
                    <table mat-table [dataSource]="dataSource | paginate: config" matSort class=" mat-elevation-z8">

                        <ng-container matColumnDef="sr">
                            <th mat-header-cell *matHeaderCellDef> S No.</th>
                            <td mat-cell *matCellDef="let element; let i = index" routerLink="detail"
                                [queryParams]="{'id':element.orderId}">
                                {{(i+1)+((config.currentPage-1)*10)}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="shopProfile">
                            <th mat-header-cell *matHeaderCellDef> Shop Profile </th>
                            <td mat-cell *matCellDef="let element" routerLink="detail"
                                [queryParams]="{'id':element.orderId}">
                                <img [src]="element.shopPhoto" alt="" class="table-img">
                                {{element.shopName}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="dateTime">
                            <th mat-header-cell *matHeaderCellDef> Date & Time </th>
                            <td mat-cell *matCellDef="let element" routerLink="detail"
                                [queryParams]="{'id':element.orderId}"> {{element.orderDate | date}} </td>
                        </ng-container>

                        <ng-container matColumnDef="price">
                            <th mat-header-cell *matHeaderCellDef> Price </th>
                            <td mat-cell *matCellDef="let element" routerLink="detail"
                                [queryParams]="{'id':element.orderId}"> {{element.currency_code +' '+element.total}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="buyer">
                            <th mat-header-cell *matHeaderCellDef> Buyer Profile </th>
                            <td mat-cell *matCellDef="let element" routerLink="/buyer-manage/detail"
                                [queryParams]="{'id':element.userId}">
                                <img [src]="element.userPhoto? element.userPhoto:'assets/icons/dist-profile-blank.png'"  alt="" class="profile-img-table" [ngClass]="element.photo? '':'borderImg'">
                                {{element?.userName}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="status">
                            <th mat-header-cell *matHeaderCellDef> Status </th>
                            <td mat-cell *matCellDef="let element">
                                <button mat-raised-button
                                    [style.background-color]="element?.deliveryStatus==0 ? 'red' : (element?.deliveryStatus==1 ? '#0007954D' :(element?.deliveryStatus==2? '#11CDEF':(element?.deliveryStatus==2? '#43425D':(element?.deliveryStatus==3?'#FFD780':(element?.deliveryStatus==4? '#7764E4':(element?.deliveryStatus==5?'#F53C56':(element?.deliveryStatus==6? '#00CF73':null)))))) )"
                                    [style.color]="'white'" disabled>
                                    <span *ngIf="element?.deliveryStatus==1">PLACED</span>
                                    <span *ngIf="element?.deliveryStatus==2">SIGNED</span>
                                    <span *ngIf="element?.deliveryStatus==3">PROCESSED</span>
                                    <span *ngIf="element?.deliveryStatus==4">SHIPPED</span>
                                    <span *ngIf="element?.deliveryStatus==5">OUTFORDELIVERY</span>
                                    <span *ngIf="element?.deliveryStatus==6">DELIVERED</span>
                                </button>

                            </td>
                        </ng-container>


                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
                    <div style="text-align:center">
                        <h2 *ngIf="this.dataSource.length ==0">No Records Found !</h2>
                        <pagination-controls (pageChange)="pageChanged($event)" previousLabel="" nextLabel="">
                        </pagination-controls>
                    </div>
                </mat-tab>
                <mat-tab label="Order History">
                    <div class="project-table">
                    <table mat-table [dataSource]="dataSource | paginate: config" matSort class=" mat-elevation-z8">

                        <ng-container matColumnDef="sr">
                            <th mat-header-cell *matHeaderCellDef> S No.</th>
                            <td mat-cell *matCellDef="let element; let i = index" routerLink="detail"
                                [queryParams]="{'id':element.orderId}">
                                {{(i+1)+((config.currentPage-1)*10)}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="shopProfile">
                            <th mat-header-cell *matHeaderCellDef> Shop Profile </th>
                            <td mat-cell *matCellDef="let element" routerLink="detail"
                                [queryParams]="{'id':element.orderId}">
                                <img [src]="element.shopPhoto" alt="" class="table-img">
                                {{element.shopName}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="dateTime">
                            <th mat-header-cell *matHeaderCellDef> Date & Time </th>
                            <td mat-cell *matCellDef="let element" routerLink="detail"
                                [queryParams]="{'id':element.orderId}"> {{element.orderDate | date}} </td>
                        </ng-container>

                        <ng-container matColumnDef="price">
                            <th mat-header-cell *matHeaderCellDef> Price </th>
                            <td mat-cell *matCellDef="let element" routerLink="detail"
                                [queryParams]="{'id':element.orderId}"> {{element.currency_code +' '+element?.total}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="buyer">
                            <th mat-header-cell *matHeaderCellDef> Buyer Profile</th>
                            <td mat-cell *matCellDef="let element" routerLink="/buyer-manage/detail"
                                [queryParams]="{'id':element.userId}">
                                <img [src]="element.userPhoto? element.userPhoto:'assets/icons/dist-profile-blank.png'" alt="" class="profile-img-table" [ngClass]="element.photo? '':'borderImg'">
                                {{element?.userName}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="status">
                            <th mat-header-cell *matHeaderCellDef> Status </th>
                            <td mat-cell *matCellDef="let element" routerLink="detail"
                                [queryParams]="{'id':element.orderId}">
                                <button mat-raised-button
                                    [style.background-color]="element?.deliveryStatus==0 ? 'red' : (element?.deliveryStatus==1 ? '#0007954D' :(element?.deliveryStatus==2? '#11CDEF':(element?.deliveryStatus==2? '#43425D':(element?.deliveryStatus==3?'#FFD780':(element?.deliveryStatus==4? '#7764E4':(element?.deliveryStatus==5?'#F53C56':(element?.deliveryStatus==6? '#00CF73':null)))))) )"
                                    [style.color]="'white'" disabled>
                                    <span *ngIf="element?.deliveryStatus==1 && element?.orderStatus ==2">CANCELED</span>
                                    <span *ngIf="element?.deliveryStatus==2">SIGNED</span>
                                    <span *ngIf="element?.deliveryStatus==3">PROCESSED</span>
                                    <span *ngIf="element?.deliveryStatus==4">SHIPPED</span>
                                    <span *ngIf="element?.deliveryStatus==5">OUTFORDELIVERY</span>
                                    <span *ngIf="element?.deliveryStatus==6">DELIVERED</span>
                                </button>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
                    <div style="text-align:center">
                        <h2 *ngIf="this.dataSource.length ==0">No Records Found !</h2>
                        <pagination-controls (pageChange)="pageChanged($event)" previousLabel="" nextLabel="">
                        </pagination-controls>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </mat-card>
    </div>
</div>