<div mat-dialog-content>
        <form [formGroup]="changeProfileForm" >
            <mat-form-field appearance="outline">
                <mat-label style="color:#436129">New Name</mat-label>
                <input type="text" formControlName='newName'  matInput>
                <mat-error > Provide Name </mat-error>
            </mat-form-field>
            
        </form>
    </div>
    <div mat-dialog-actions class="m-0 p-16 " fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">

    <button mat-flat-button color="primary" [mat-dialog-close]="[false]">Cancel</button>
    <button mat-flat-button class="accent" [mat-dialog-close]="[true,changeProfileForm.value]"
        [disabled]="!changeProfileForm.valid">Submit</button>

    </div>