.form-field{
    width: 30%;
}
.flex-wrap{
    flex-wrap: wrap;
}
.form .form-field.sixty-percent{
    width: 63%;
}
.star-rating{
    position: absolute;
    top: 35px;
}
.reset-pass-heading{
    color: #1E1E1E;
    font-size: 22px;
    font-family: manropeBold;
    margin: 15px 0 15px 20px;
    // margin-left: 20px;
}
.decline-btn{
    border-radius: 5px!important;
}
.width100{
    width: 97% !important;

}
.width100 textarea{
    border: none;
}
.radios-notifications{
    color:#969B9F !important;
    margin-left: 10px;
}
.mat-radio-button{
    font-size: 14px!important;
}