
@font-face {
  font-family: manropeBold;
  src: url("assets/fonts/Manrope-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: manropeSemiBold;
  src: url("assets/fonts/Manrope-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: manropeRegular;
  src: url("assets/fonts/Manrope-Regular.ttf");
  font-weight: 500;
}
@font-face {
  font-family: manropeMedium;
  src: url("assets/fonts/Manrope-Medium.ttf");
  
}
@font-face {
  font-family: manropeLight;
  src: url("assets/fonts/Manrope-Light.ttf");
  font-weight: 300;
}
// @font-face {
//   font-family: lexendRegular;
//   src: url("assets/fonts/Lexend-Regular.ttf");
//   font-weight: 300;
// }

// ------------------------ colors -------------------------
$custom-theme:#436129;
$custom-primary-blue: #001833;
$custom-secondary-blue: #103259;
$custom-sky-blue: #00ccf2;
$custom-pink: #c2529f;

.fuse-custom-primary {
  background-color: #1E1E1E !important;
  color: white !important;
}
.fuse-custom-primary-light-background {
  background-color: $custom-secondary-blue !important;
  color: white !important;
}

.fuse-custom-primary-light-color {
  color: $custom-secondary-blue !important;
}

.fuse-custom-secondary-background {
  background-color: #F5F7F9 !important;
  color: #585FE8 !important;
}
.fuse-custom-secondary-color {
  color: $custom-sky-blue !important;
}

.fuse-custom-pink {
  background: #F5F7F9;
  color: #FFC954 !important;
  // border-radius: 0px 10px 70px 0px!important;
  position: relative;
  &:hover{
    background: #585FE8!important;
  }
                &::after{
                    position: absolute;
                    content: '';
                    width: 5px;
                    height: 100%;
                    background: #FFC954;
                    left: 0;
                }
}
.fuse-custom-pink .nav-icon{
  filter: invert(78%) sepia(60%) saturate(535%) hue-rotate(
372deg) brightness(288%) contrast(104%) !important;  
}
.fuse-custom-pink .nav-icon:hover{
  filter: invert(91%) sepia(93%) saturate(2%) hue-rotate(144deg) brightness(109%) contrast(101%)!important;     
}
.mat-calendar-body-selected {
  background-color: $custom-secondary-blue !important;
  
}

// ------------------------- elements ----------------------------

.cust-mat-select {
  margin-right: 16px;
  .mat-select-value {
    color: white !important;
  }
}

.drp-search {
  position: relative;
  input {
    padding: 14px 26px 14px 16px;
    width: 100%;
    border-bottom: 2px solid #ccc;
  }
  mat-icon {
    color: #ccc;
    position: absolute;
    cursor: pointer;
    right: 10px;
    top: 12px;
  }
}

.cust-chip {
  background-color: $custom-secondary-blue !important;
  border-radius: 5px !important;
  color: white !important;
  mat-icon {
    color: white !important;
    opacity: 1 !important;
  }
}
.not-found {
  padding-left: 1rem;
}

.search-box {
  &:focus-within {
    .search-icon {
      cursor: pointer;
      position: absolute;
      left: calc( 100% - 32px);;
      padding: 0px 4px;
      top: 0px;
      background: #1E1E1E;
      border-radius: 0 5px 5px 0;
      height: 100%;
      mat-icon {
        line-height: 35px;
        color: white!important;
        color: #6BC568;
      }
    }
    input {
      padding-left: 0px;
      padding-right: 24px;
    }
  }
  border: 1px solid #1E1E1E;
  display: inline-block;
  border-radius: 5px;
  background: white;
  padding: 7px 30px 7px 7px;
  position: relative;
  margin: 10px 5px 16px 5px;
  input {
    padding-left: 24px;
    padding-right: 0px;
    &:focus {
    }
    // &:placeholder{
    //   color: ;
    // }
    transition: ease 0.5s;
  }

  .search-icon {
    position: absolute;
    left: 6px;
    line-height: 0px;
    transition: ease 0.5s;
    mat-icon {
      color: #1E1E1E;
    }
  }
  .search-clear {
    display: none;
  }
}
.search-box input::placeholder{
  color: #1E1E1E;
}
.search-box-with-data {
  .search-icon {
    cursor: pointer;
    position: absolute;
    left: calc( 100% - 32px);;
    top: 0px;
    padding: 0px 4px;
    line-height: 0px;
    background: #1E1E1E;
    border-radius: 0 5px 5px 0;
    height: 100%;
    mat-icon {
      line-height: 35px;
      color: white;
    }
  }
  .search-clear {
    display: inline;
    position: absolute;
    left: calc(100% - 50px);;
    top: 4px;
    text-align: left;
    mat-icon {
      font-size: 15px;
      line-height: 26px;
      cursor: pointer;
    }
  }
  input {
    padding-left: 0px;
    padding-right: 24px;
  }
}

.form {
  padding-right: 0px;
  padding-left: 0px;

  .form-field {
    width: 100%;
    margin: 15px 0;

     label {
      font-size: 14px;
      color: #969B9F !important;
      display: block;
      margin-bottom: 5px;
      font-family: 'manropeSemibold';
    }
    input[type="text"],
    input[type="number"],
    input[type="password"],
    mat-select,
    textarea {
      background-color: #EFEFEF;
      color: #000!important;
      // border: 1px solid #00ccf233;
      padding: 13px;
      // display: block;
      width: 100%;
      border-radius: 6px;
      min-height: 48px;
      font-family: 'manrope';
    }

    .err {
      color: red;
      font-size: 12px;
    }
  }
}

.mat-menu-panel {
  overflow: visible !important;
  min-height: 20px !important;
}

.drop-zone {
  border: 2px dotted $custom-sky-blue;
  border-radius: 6px;
  height: 240px;
  width: 100% !important;
  position: relative;

  p {
    color: #828282;
    font-size: 16px;
  }
}
.empty-table-msg {
  text-align: center;
  padding: 20px;
}
.small-drop-zone {
  // border: 1px dotted #6BC568;
  background: #EFEFEF;
  border-radius: 5px;
  // opacity: 0.7;
  width: 100% !important;
  position: relative;
  height: 240px;
  p {
    color: #828282;
    font-size: 16px;
  }
  .content-dragDrop{
    font-family: manropeRegular;
  }
}

.ticket-background-drop-zone {
  border: 2px dotted $custom-sky-blue;
  border-radius: 6px;
  height: 150px;
  width: 100% !important;
  position: relative;
  p {
    color: #828282;
    font-size: 14px;
  }
}

.fileDrop {
  color:#969B9F;
  left: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  mat-icon {
    font-size: 29px;
  }
}
.prev-drp-img {
  height: 240px;  
  align-items: center;
  display: flex;
}

//------------------------- general -------------------------

.cursor-pointer {
  cursor: pointer;
}

.back-icon {
  color: $custom-secondary-blue;
  cursor: pointer;
  vertical-align: middle;

  margin-right: 20px;
  mat-icon {
    font-size: 30px;
  }
}

.nav-item {
  font-size: 15px!important;
  color: #AEAEAE;
}

.del-btn {
  background-color: $custom-secondary-blue !important;
  color: white !important;
  margin-left: 5px !important;
  min-width: 40px !important;
  padding: 0px !important;
}
.cust-btn {
  background: #1E1E1E !important;
  box-shadow: 0px 3px 6px #0007954D;
  border-radius: 3px;
  // max-width: 105px;
  color: white !important;
  margin-left: 5px !important;

  &[disabled] {
    background-color: #00ccf24d !important;
  }
}

.cust-blue-btn {
  background-color: $custom-secondary-blue;
  color: white !important;
  margin-left: 5px !important;
}

.page-title {
  color: #1E1E1E;
  // text-transform: uppercase;
  
  font-family: 'manrope';
  font-weight:700;
  font-size: 26px;
}
.chips-wrapper {
  background: #f0f9ff;
  border: 1px solid #00ccf233;
  padding: 14px;
  margin-bottom: 7px;
  border-radius: 6px;
  margin-top: 15px;
  max-height: 150px;
  overflow-y: scroll;
}

//------------------------- filter -------------------------
.filter-wrapper {
  text-align: right;
}

@media (min-width: 564px) {
  
  .md-drppicker.ltr {
    // left: 523px !important;
    width: max-content !important;
    left: auto !important;
    right: 0px !important;
  }
}

.md-drppicker td.active,
.md-drppicker td.active:hover {
  background-color: $custom-sky-blue !important;
}
.md-drppicker .btn {
  background-color: $custom-sky-blue !important;
}

.date-range,
.status-drp {
  width: 193px;
  display: inline-block;
  background: white;
  padding: 7px;
  border: 1px solid #1E1E1E;
  border-radius: 5px;
  margin: 10px 5px;
  
  text-align: left;
  .mat-select-value{
    padding-left: 5px;
  }
}
body.theme-green-light .mat-select-placeholder{
  color: #1E1E1E;
  margin-left: 1rem;
}
.mat-select-arrow {
  color: #1E1E1E !important;
  border-left: 8px solid transparent!important;
  border-right: 8px solid transparent!important;
  border-top: 8px solid!important;
}

.clearFilter {
  margin-right: 5px;
  padding: 6px;
  cursor: pointer;
  background-color: $custom-secondary-blue;
  display: inline-block;
  border-radius: 50%;
}

.scnd-btn,
.prmry-btn{
    background: #00CF73;
    border: none;
    padding: 5px 5px 0 0;
    margin-left: 5px;
    margin-top: 5px;
    border-radius: 3px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.scnd-btn{
    background: #EC0000;
}
tr.mat-header-row, .mat-header-row{
    background: #E3E9EF!important;
    border: none;
}
th.mat-header-cell{
    border: none!important;
    color: #1E1E1E!important;
    background: #f0f0f0;
}
.mat-column-action{
    width: 100px;
    cursor: auto!important;
}




.group-img{
  width: 35px!important;
  height: 35px;
  border-radius: 50%;
}
.group-img:nth-child(2){
  margin-left: -15px;
}
.group-img:nth-child(3){
  margin-left: -15px;
}
.action-btn,
.decline-btn{
    background:#00CF73!important;
    border: none;
    color: #fff!important;
    padding: 3px 18px!important;
    font-family: 'manrope';
    font-size: 12px;
    margin-bottom: 5px;
    border-radius: 8px!important;
      height: 40px!important;
      min-width: 115px!important;
      font-size: 15px;
    line-height: 16px!important;
}
.decline-btn{
    margin-top: 5px!important;
    background: #EC0000!important;
    box-shadow: 0px 3px 6px #E1041B26;
}
td.mat-cell, td.mat-footer-cell, th.mat-header-cell{
  cursor: pointer;
  max-width: 400px!important;
}

.users-chart .title{
  color: #EA4A49!important;
  font-family: 'manrope'!important;
}
.plants-chart .title{
  font-family: 'manrope'!important;
}
.text-right{
  text-align: right;
}
button{
  cursor: pointer;
}
.justify-content-around{
  justify-content: space-around;
}
.justify-content-between{
  justify-content:space-between;
}
.save-btn{
  width:135px !important;
  font-size: 20px;
  line-height:40px!important;
  background: #00CF73!important;
  border-radius: 5px;
  color: #fff!important;
}
.table-img{
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 15px;
  margin: 5px 15px 5px 0;
  vertical-align: middle!important;
}
.sort-btn{
  background: transparent!important;
  box-shadow: none!important;
  min-width: 20px!important;
  padding: 0!important;
}
.disabled-btn{
  opacity: 60%;
}
.document-image{
  width: 100%;
  max-height: 180px;
  object-fit: cover;
}
.mat-header-cell{
  cursor: default!important;
}
.tableProfileImg{
  width: 45px;
    height: 45px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
}
.mat-tab-label{
  opacity: 1!important;
  // color: #52575D!important;
  font-family: 'manrope';
  font-weight: 400;
}
.del-icon{
  cursor:pointer;
}
.after-login-pages{
  margin: 30px 45px;
}
.borderImg{
  border: 1px solid #ccc;
}
.seller-detail{
  .content-cards:nth-child(3) div{
      margin-top: 0!important;
     
  }
}
.notifacations-wrapper{
  padding: 30px 45px;
}
.setting-wrapper{
  mat-card{
    width:40%;
  }
}

.main-drop{
  position: absolute;
  right: 0px;
  top: -15px;
  z-index: 5;
}

.left-icon-input-wrapper{
  input{
    padding-left: 40px!important;
  }
  img{
    position: absolute;
    left: 10px;
    top:38px;
  }
}
mat-card{
  border-radius: 10px!important;
}
.expanded-row{
  height: 55px; 
  border-top: 1px solid #0000001f; 
  width: 100%; 
  padding: 16px 0;
}
.seller-detail .first-row.one{
  margin:30px 0 0 40px;
}
.seller-detail .after-login-pages{
  margin: 0 40px;
}
