@media (max-width:768px){
    #dashboard-project .center> .content .content-cards{
        left: 0!important;
    }
    .chart-row{
        padding: 0!important;
      }
      .mb-32{
          margin-bottom: 5px!important;
      }
      .dashboard-table {
        margin: 30px 0px 20px 0px!important;
    }
    .mat-elevation-z8 {    
        overflow-x: auto;
       }
       .project-table{
           overflow-x: auto;
           width: 100%;
       }
       .seller-detail{
        .content-cards:nth-child(3) div{
            margin-top: 10px!important;
            
        }
        mat-card{
            margin-top: 20px;
        }
      }
      .status-drp{
          margin: 10px 0 10px 13px;
      }
    .main-drop{
        position: static;
        .status-drp{
            margin-left: auto;
            margin-bottom: 20px;
        }
    }

.setting-wrapper{
    mat-card{
      width:70%;
    }
  }


  .cdk-column-sr.mat-column-sr{
    min-width: 65px;
}
.cdk-column-img.mat-column-img{
    min-width: 55px;
}
.cdk-column-name.mat-column-name{
    min-width: 95px;
}
.mat-cell{
    word-break: inherit!important;
    max-width:auto!important;
    width: auto!important;
    min-width: auto!important;
    padding-right: 0!important;
}
.search-box{
    padding: 7px 9px 7px 4px;
    margin: 10px 1px 16px 5px;
    
}
.search-box:focus-within input
.search-box-with-data input{
    width: 161px!important;
    padding-right:45px !important;
}
.search-box-with-data {
    input{
        width: 161px!important;
        padding-right:45px !important;
    }
}
.page-title{
    font-size: 24px;
}
.after-login-pages.seller-manage,
.content-cards{
    left: 0;
    margin: 0 20px 20px 20px!important;
}
.mat-header-row th{
    width: auto!important;
    min-width: 100px!important;
    max-width: auto!important;
}
td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type, th.mat-header-cell:last-of-type{
    padding-right: 0px!important;
}
}
@media (max-width:425px){
    .form-field.textarea.width-50{
        width: 100%!important;
    }
    .setting-wrapper{
        mat-card{
          width:100%;
        }
      }  
      .d-flex{
          flex-direction: column;
      }  
      .first-row{
          flex-direction: column;
          min-height: 90px;
      }
      .page-title{
          font-size: 20px;
      }
      .goBackBtn{
          font-size: 18px;
      }
      .after-login-pages{
          margin: 15px!important;
      }
      .custom-drop.main-drop .status-drp{
          margin-left:auto;
          margin-right: auto;
      }
      .return_request .status-drp,
      .custom-drop .status-drp,
      .search-box{
        margin: 10px 0 15px 0;
      }
      .seller-detail .first-row.one{
        margin:20px 0 0 0;
        min-height: auto;
      }
     .seller-detail .content-cards{
          margin: 0 20px 0 20px!important;
      }
      .width-75{
          width: 100%!important;
      }
     .promo-code .text-center-sm{
         text-align: center;
         margin-bottom: 10px;
     }
}
