.form-field{
    width: 30%;
}
.flex-wrap{
    flex-wrap: wrap;
}
.cdk-column-image.mat-column-image{
    width: 110px;
}
.cdk-column-name.mat-column-name{
    width: 135px;
}
button:disabled{
    opacity: 1;
}
.border-radius50{
    border-radius: 50%;
}