.change-password{
    font-family: 'ManropeBold';
    font-size: 16px;
}
.manage-dailog{
    padding: 0 10px;
    width:100%;
}
button{cursor: pointer;}
.form-field{
    width: 100%!important;
}
.mat-card{
    min-height:450px!important;
}
.restrict-btn{
    margin-top: 21px;
}
.mat-tab-label{
    color: #52575D!important;
    font-family: 'ManropeRegular';
    font-weight: 400;
  }
.equalsTo{
    width: 5%;
    margin: 0 10px;
    text-align: center;
    margin-top: 50px;
    font-family: 'ManropeRegular';
  }
  .save-btn{
      font-family: 'manropeBold';
  }


//   .status-drop-with-icons-both-side{
//       width:200px;
//       .mat-form-field-underline{
//         height: 0px!important;

//       }
//   }
//   .status-drop-with-icons-both-side .mat-form-field-underline{
//     width: auto;
//     height: 0px!important;
//   }